In [1]:
import pandas as pd

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
df=pd.read_csv("services.csv")

In [28]:
df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [5]:
df.head(2)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN

In [6]:
df.tail()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
(df.columns)

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [9]:
type(df['description'])

pandas.core.series.Series

In [10]:
list(df['name'])

['Fair Oaks Adult Activity Center',
 'Second Career Employment Program',
 'Senior Peer Counseling',
 'Family Visitation Center',
 'Economic Self-Sufficiency Program',
 'Little House Recreational Activities',
 'Rosener House Adult Day Services',
 'Meals on Wheels - South County',
 'Fair Oaks Branch',
 'Main Library',
 'Schaberg Branch',
 'Project Read',
 'Redwood Shores Branch',
 'Redwood City Corps',
 'Adult Rehabilitation Center',
 'Sunnyvale Corps',
 'South San Francisco Citadel Corps',
 'Project Smile',
 'San Mateo Free Medical Clinic',
 'Service with blank fields',
 'Service for Admin Test Location',
 'Passport Photos',
 'Example Service Name']

In [11]:
df[['name']]

                                    name
0        Fair Oaks Adult Activity Center
1       Second Career Employment Program
2                 Senior Peer Counseling
3               Family Visitation Center
4      Economic Self-Sufficiency Program
5   Little House Recreational Activities
6       Rosener House Adult Day Services
7         Meals on Wheels - South County
8                       Fair Oaks Branch
9                           Main Library
10                       Schaberg Branch
11                          Project Read
12                 Redwood Shores Branch
13                    Redwood City Corps
14           Adult Rehabilitation Center
15                       Sunnyvale Corps
16     South San Francisco Citadel Corps
17                         Project Smile
18         San Mateo Free Medical Clinic
19             Service with blank fields
20       Service for Admin Test Location
21                       Passport Photos
22                  Example Service Name

In [12]:
type(df[['name']])

pandas.core.frame.DataFrame

In [13]:
df[['name','email']]

                                    name                  email
0        Fair Oaks Adult Activity Center                    NaN
1       Second Career Employment Program                    NaN
2                 Senior Peer Counseling                    NaN
3               Family Visitation Center                    NaN
4      Economic Self-Sufficiency Program                    NaN
5   Little House Recreational Activities                    NaN
6       Rosener House Adult Day Services                    NaN
7         Meals on Wheels - South County                    NaN
8                       Fair Oaks Branch                    NaN
9                           Main Library                    NaN
10                       Schaberg Branch                    NaN
11                          Project Read                    NaN
12                 Redwood Shores Branch                    NaN
13                    Redwood City Corps                    NaN
14           Adult Rehabilitation Center                    NaN
15                       Sunnyvale Corps                    NaN
16     South San Francisco Citadel Corps                    NaN
17                         Project Smile                    NaN
18         San Mateo Free Medical Clinic                    NaN
19             Service with blank fields                    NaN
20       Service for Admin Test Location                    NaN
21                       Passport Photos  passports@example.org
22                  Example Service Name                    NaN

In [14]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [15]:
df1=pd.read_excel("LUSID Excel - Setting up your market data.xlsx")

In [16]:
type(df1)

pandas.core.frame.DataFrame

In [17]:
df1.dtypes

Unnamed: 0    float64
Unnamed: 1    float64
Unnamed: 2    float64
Unnamed: 3     object
Unnamed: 4     object
Unnamed: 5     object
Unnamed: 6    float64
Unnamed: 7     object
Unnamed: 8     object
Unnamed: 9     object
dtype: object

In [18]:
df1.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [19]:
df1[['Unnamed: 0','Unnamed: 2']]

    Unnamed: 0  Unnamed: 2
0          NaN         NaN
1          NaN         NaN
2          NaN         NaN
3          NaN         NaN
4          NaN         NaN
5          NaN         NaN
6          NaN         NaN
7          NaN         NaN
8          NaN         NaN
9          NaN         NaN
10         NaN         NaN
11         NaN         NaN
12         NaN         NaN
13         NaN         NaN
14         NaN         NaN
15         NaN         NaN
16         NaN         NaN
17         NaN         NaN
18         NaN         NaN
19         NaN         NaN
20         NaN         NaN
21         NaN         NaN
22         NaN         NaN
23         NaN         NaN
24         NaN         NaN
25         NaN         NaN
26         NaN         NaN
27         NaN         NaN

In [20]:
pip install lxml

Collecting lxml
  Downloading lxml-4.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (7.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.1/7.1 MB 76.6 MB/s eta 0:00:00:00:0100:01
Installing collected packages: lxml
Successfully installed lxml-4.9.2
Note: you may need to restart the kernel to use updated packages.

In [21]:
import pandas as pd
url_data=pd.read_html("https://www.basketball-reference.com/players/j/jordade01.html")

In [22]:
type(url_data)

list

In [23]:
len(url_data)

7

In [24]:
df3=url_data[3]

In [25]:
df3.head()

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2008-09,20.0,LAC,NBA,C,53.0,13.0,771.0,93.0,147.0,...,0.385,72.0,165.0,237.0,11.0,11.0,59.0,41.0,96.0,228.0
1,2009-10,21.0,LAC,NBA,C,70.0,12.0,1137.0,144.0,238.0,...,0.375,122.0,230.0,352.0,21.0,16.0,62.0,75.0,152.0,336.0
2,2010-11,22.0,LAC,NBA,C,80.0,66.0,2047.0,234.0,341.0,...,0.452,207.0,368.0,575.0,42.0,41.0,142.0,101.0,255.0,566.0
3,2011-12,23.0,LAC,NBA,C,66.0,66.0,1798.0,206.0,326.0,...,0.525,202.0,344.0,546.0,17.0,30.0,134.0,74.0,189.0,486.0
4,2012-13,24.0,LAC,NBA,C,82.0,82.0,2010.0,314.0,488.0,...,0.386,210.0,384.0,594.0,28.0,48.0,112.0,100.0,192.0,724.0

In [26]:
df3.to_csv("plyers.csv",index=False)